@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/roboto-regular-webfont.eot');
    src: url('../fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}