/*_____________________ BEGIN REGISTER STYLE _______________________*/
input {
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	background: #F0F0E9;
}
/*_____________________ END REGISTER STYLE _______________________*/